streamlit
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
pydantic-settings
torch
sentence-transformers
chromadb
llama-cpp-python
firebase-admin
google-cloud-firestore
